* {
  margin: 20px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #0A22F4;
}
section{
  margin:20px;
  padding:20px;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
}
.Contact {
  color: #FFFFFF;
}
p {
  width: 463px;
}
